@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply min-h-screen font-spartan;
}

@layer utilities {
  .center {
    @apply flex items-center justify-center;
  }

  .draft {
    @apply bg-veryDarkGrayishBlue bg-opacity-[6%] text-veryDarkGrayishBlue dark:bg-lavender dark:bg-opacity-[6%] dark:text-lavender;
  }

  /* Button Styles */
  .primary {
    @apply bg-violet;
  }

  .secondary {
    @apply bg-[#F9FAFE] text-grayishBlue dark:bg-[#252945] dark:text-lavender;
  }
  .danger {
    @apply bg-[#EC5757];
  }

  @media (min-width: 768px) {
    .lineItem-header,
    .lineItem {
      display: grid;
      grid-template-columns: 2fr 1fr 1fr 1fr;
    }

    .lineItem-header__name,
    .lineItem__name {
    }

    .lineItem-header__quantity,
    .lineItem__quantity {
      justify-self: center;
    }

    .lineItem-header__price,
    .lineItem__price {
      justify-self: end;
    }

    .lineItem-header__total,
    .lineItem__total {
      justify-self: end;
    }
  }
}
