@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  @apply min-h-screen font-spartan;
}

@layer utilities {
  .day {
    @apply inline-flex aspect-square h-6 cursor-pointer items-center justify-center rounded-full border-1 border-transparent hover:text-violet;
  }
  .day.selected {
    @apply text-violet;
  }
  .day.prev-month,
  .day.next-month {
    @apply text-grayishBlue dark:text-coolGrey;
  }

  .payment .inputField__date {
    grid-area: date;
  }

  .center {
    @apply flex items-center justify-center;
  }

  .draft {
    @apply bg-veryDarkGrayishBlue bg-opacity-[6%] text-veryDarkGrayishBlue dark:bg-lavender dark:bg-opacity-[6%] dark:text-lavender;
  }

  /* Button Styles */
  .primary {
    @apply bg-violet hover:bg-violet-light;
  }

  .secondary {
    @apply bg-[#F9FAFE] text-grayishBlue hover:bg-lavender dark:bg-[#252945] dark:text-lavender hover:dark:bg-white hover:dark:text-grayishBlue;
  }
  .tertiary {
    @apply bg-veryDarkGrayishBlue text-coolGrey dark:text-lavender;
  }
  .danger {
    @apply bg-[#EC5757] hover:bg-[#FF9797];
  }

  .stealth {
    @apply bg-[#F9FAFE] text-grayishBlue dark:bg-darkBlue dark:text-coolGrey;
  }

  @media (min-width: 768px) {
    .lineItem-header,
    .lineItem {
      display: grid;
      grid-template-columns: 2fr 1fr 1fr 1fr;
    }

    .lineItem-header__name,
    .lineItem__name {
    }

    .lineItem-header__quantity,
    .lineItem__quantity {
      justify-self: center;
    }

    .lineItem-header__price,
    .lineItem__price {
      justify-self: end;
    }

    .lineItem-header__total,
    .lineItem__total {
      justify-self: end;
    }
  }
}
